<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? yield(:title) : "AvengersApp" %></title>
    <%= csrf_meta_tags %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">


    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon', skip_pipeline: true %>

    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag 'Index' %>


  </head>
  <body>
    <%= bootstrap_flash %>
    <%= yield %>
  </body>
</html>
